@page "/order-confirmation"
@inject CartService CartService
@inject NavigationManager Navigation


<h3>Order Confirmation </h3>


@if (CartService.CartItems.Count != 0)
{          
    <section class="h-100 h-custom" style="background-color: #eee; position: relative;
    margin-right: 0;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
            <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
            <div class="card-body p-5">

            <p class="lead fw-bold mb-5" style="color: #f37a27;">Purchase Reciept</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                <p>@DateTime.Now.ToString()</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order No.</p>
                <p>012j1gvs356c</p>
              </div>
            </div>

             @foreach (var item in CartService.CartItems)
             {
            
            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p>@item.Product.Name</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p>@item.Product.Price.ToString() INR</p>
                </div>
                   <div class="col-md-8 col-lg-9">
                  <p>Quanitity</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p>@item.Quantity.ToString()</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p class="mb-0">Shipping charger: </p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p class="mb-0">@shippingCharge.ToString() INR </p>
                </div>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                <p class="lead fw-bold mb-0" style="color: #f37a27;">@((float)(shippingCharge + item.Product.Price ))</p>
              </div>
            </div>
            }            

            <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Tracking Order</p>

            <div class="row">
              <div class="col-lg-12">

                <div class="horizontal-timeline">

                  <ul class="list-inline items d-flex justify-content-between">
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Ordered</p>
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Shipped</p">
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">On the way
                      </p>
                    </li>
                    <li class="list-inline-item items-list text-end" style="margin-right: 8px;">
                      <p style="margin-right: -8px;">Delivered</p>
                    </li>
                  </ul>

                </div>

              </div>
            </div>

            <p class="mt-4 pt-2 mb-0">Want any help? <a href="contact-us" style="color: #f37a27;">Please contact
                us</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
}
else
{
    <h> Sorry !!</h>
    <p>No order details available.</p>
}


<button class="btn btn-primary" @onclick="GoToDemoPage">Product Page</button>

@code {
    public CartItem? Order { get; set; }
    public float shippingCharge = 33;
    public int itemPrices = 0;   

    private void GoToDemoPage()
    {
        // Navigate back to the home page
        Navigation.NavigateTo($"products");
    }
}
