<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">@first</a></li>
    <li class="breadcrumb-item"><a href="#">@Second</a></li>    
    <li class="breadcrumb-item"><a href="#">@third</a></li>
    <li class="breadcrumb-item"><a href="#">@fourth</a></li>
    <li class="breadcrumb-item"><a href="#">@fifth</a></li>
  </ol>
</nav>




@code {
    [Parameter] public string first { get; set; } = "/";
    [Parameter] public string Second { get; set; }
    [Parameter] public string third { get; set; }
    [Parameter] public string fourth { get; set; }
    [Parameter] public string fifth { get; set; }
}
